# Ignore Python virtual environments
.venv/
.env/

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore node_modules
node_modules/

# Ignore log files and temporary files
*.log
*.tmp

# Ignore Python cache files
__pycache__/
*.pyc
